#%RAML 1.0
title: AvaTax API
version: v2
baseUri: https://sandbox-rest.avatax.com/
documentation:
- title: AvaTax API
  content: REST interface to Avalara's enterprise tax service, AvaTax.
securitySchemes:
  auth:
    type: Basic Authentication
types:
  AddressValidationInfo:
    displayName: AddressValidationInfo
    description: TextCase info for input address
    type: object
    properties:
      textCase:
        required: false
        displayName: textCase
        description: Specify the text case for the validated address result.  If not specified, will return uppercase.
        type: string
        enum:
        - Upper
        - Mixed
      line1:
        required: false
        displayName: line1
        description: Line1
        type: string
      line2:
        required: false
        displayName: line2
        description: Line2
        type: string
      line3:
        required: false
        displayName: line3
        description: Line3
        type: string
      city:
        required: false
        displayName: city
        description: City
        type: string
      region:
        required: false
        displayName: region
        description: State / Province / Region
        type: string
      country:
        required: false
        displayName: country
        description: Two character ISO 3166 Country Code
        type: string
      postalCode:
        required: false
        displayName: postalCode
        description: Postal Code / Zip Code
        type: string
      latitude:
        required: false
        displayName: latitude
        description: Geospatial latitude measurement
        type: number
        format: double
      longitude:
        required: false
        displayName: longitude
        description: Geospatial longitude measurement
        type: number
        format: double
  AddressResolutionModel:
    displayName: AddressResolutionModel
    description: Address Resolution Model
    type: object
    properties:
      address:
        required: false
        displayName: address
        description: The original address
        type: AddressInfo
      validatedAddresses:
        required: false
        displayName: validatedAddresses
        description: The validated address or addresses
        type: array
        items:
          type: ValidatedAddressInfo
      coordinates:
        required: false
        displayName: coordinates
        description: The geospatial coordinates of this address
        type: CoordinateInfo
      resolutionQuality:
        required: false
        displayName: resolutionQuality
        description: The resolution quality of the geospatial coordinates
        type: string
        enum:
        - NotCoded
        - External
        - CountryCentroid
        - RegionCentroid
        - PartialCentroid
        - PostalCentroidGood
        - PostalCentroidBetter
        - PostalCentroidBest
        - Intersection
        - Interpolated
        - Rooftop
        - Constant
      taxAuthorities:
        required: false
        displayName: taxAuthorities
        description: List of informational and warning messages regarding this address
        type: array
        items:
          type: TaxAuthorityInfo
      messages:
        required: false
        displayName: messages
        description: List of informational and warning messages regarding this address
        type: array
        items:
          type: AvaTaxMessage
  AddressInfo:
    displayName: AddressInfo
    description: Represents an address to resolve.
    type: object
    properties:
      line1:
        required: false
        displayName: line1
        description: Line1
        type: string
      line2:
        required: false
        displayName: line2
        description: Line2
        type: string
      line3:
        required: false
        displayName: line3
        description: Line3
        type: string
      city:
        required: false
        displayName: city
        description: City
        type: string
      region:
        required: false
        displayName: region
        description: State / Province / Region
        type: string
      country:
        required: false
        displayName: country
        description: Two character ISO 3166 Country Code
        type: string
      postalCode:
        required: false
        displayName: postalCode
        description: Postal Code / Zip Code
        type: string
      latitude:
        required: false
        displayName: latitude
        description: Geospatial latitude measurement
        type: number
        format: double
      longitude:
        required: false
        displayName: longitude
        description: Geospatial longitude measurement
        type: number
        format: double
  ValidatedAddressInfo:
    displayName: ValidatedAddressInfo
    description: Represents a validated address
    type: object
    properties:
      addressType:
        required: false
        displayName: addressType
        description: "Address type code. One of: \r\n* F - Firm or company address\r\n* G - General Delivery address\r\n* H - High-rise or business complex\r\n* P - PO Box address\r\n* R - Rural route address\r\n* S - Street or residential address"
        type: string
      line1:
        required: false
        displayName: line1
        description: Line1
        type: string
      line2:
        required: false
        displayName: line2
        description: Line2
        type: string
      line3:
        required: false
        displayName: line3
        description: Line3
        type: string
      city:
        required: false
        displayName: city
        description: City
        type: string
      region:
        required: false
        displayName: region
        description: State / Province / Region
        type: string
      country:
        required: false
        displayName: country
        description: Two character ISO 3166 Country Code
        type: string
      postalCode:
        required: false
        displayName: postalCode
        description: Postal Code / Zip Code
        type: string
      latitude:
        required: false
        displayName: latitude
        description: Geospatial latitude measurement
        type: number
        format: double
      longitude:
        required: false
        displayName: longitude
        description: Geospatial longitude measurement
        type: number
        format: double
  CoordinateInfo:
    displayName: CoordinateInfo
    description: Coordinate Info
    type: object
    properties:
      latitude:
        required: false
        displayName: latitude
        description: Latitude
        type: number
        format: double
      longitude:
        required: false
        displayName: longitude
        description: Longitude
        type: number
        format: double
  TaxAuthorityInfo:
    displayName: TaxAuthorityInfo
    description: Tax Authority Info
    type: object
    properties:
      jurisdictionName:
        required: true
        displayName: jurisdictionName
        description: Jurisdiction Name
        type: string
      avalaraId:
        required: false
        displayName: avalaraId
        description: Avalara Id
        type: string
      jurisdictionType:
        required: false
        displayName: jurisdictionType
        description: Jurisdiction Type
        type: string
        enum:
        - Country
        - Composite
        - State
        - County
        - City
        - Special
      signatureCode:
        required: false
        displayName: signatureCode
        description: Signature Code
        type: string
  AvaTaxMessage:
    displayName: AvaTaxMessage
    description: Informational or warning messages returned by AvaTax with a transaction
    type: object
    properties:
      summary:
        required: false
        displayName: summary
        description: A brief summary of what this message tells us
        type: string
      details:
        required: false
        displayName: details
        description: Detailed information that explains what the summary provided
        type: string
      refersTo:
        required: false
        displayName: refersTo
        description: Information about what object in your request this message refers to
        type: string
      severity:
        required: false
        displayName: severity
        description: A category that indicates how severely this message affects the results
        type: string
      source:
        required: false
        displayName: source
        description: The name of the code or service that generated this message
        type: string
  BatchModel:
    displayName: BatchModel
    description: Represents a batch of uploaded documents.
    type: object
    properties:
      name:
        required: true
        displayName: name
        description: The user-friendly readable name for this batch.
        type: string
      type:
        required: true
        displayName: type
        description: The type of this batch.
        type: string
        enum:
        - AvaCertUpdate
        - AvaCertUpdateAll
        - BatchMaintenance
        - CompanyLocationImport
        - DocumentImport
        - ExemptCertImport
        - ItemImport
        - SalesAuditExport
        - SstpTestDeckImport
        - TaxRuleImport
        - TransactionImport
        - UPCBulkImport
        - UPCValidationImport
      id:
        required: false
        displayName: id
        description: The unique ID number of this batch.
        type: integer
        format: int32
      accountId:
        required: false
        displayName: accountId
        description: The Account ID number of the account that owns this batch.
        type: integer
        format: int32
      companyId:
        required: false
        displayName: companyId
        description: The Company ID number of the company that owns this batch.
        type: integer
        format: int32
      status:
        required: false
        displayName: status
        description: This batch's current processing status
        type: string
        enum:
        - Waiting
        - SystemErrors
        - Cancelled
        - Completed
        - Creating
        - Deleted
        - Errors
        - Paused
        - Processing
      options:
        required: false
        displayName: options
        description: Any optional flags provided for this batch
        type: string
      batchAgent:
        required: false
        displayName: batchAgent
        description: The agent used to create this batch
        type: string
      startedDate:
        required: false
        displayName: startedDate
        description: The date/time when this batch started processing
        type: datetime
      recordCount:
        required: false
        displayName: recordCount
        description: The number of records in this batch; determined by the server
        type: integer
        format: int32
      currentRecord:
        required: false
        displayName: currentRecord
        description: The current record being processed
        type: integer
        format: int32
      completedDate:
        required: false
        displayName: completedDate
        description: The date/time when this batch was completely processed
        type: datetime
      createdDate:
        required: false
        displayName: createdDate
        description: The date when this record was created.
        type: datetime
      createdUserId:
        required: false
        displayName: createdUserId
        description: The User ID of the user who created this record.
        type: integer
        format: int32
      modifiedDate:
        required: false
        displayName: modifiedDate
        description: The date/time when this record was last modified.
        type: datetime
      modifiedUserId:
        required: false
        displayName: modifiedUserId
        description: The user ID of the user who last modified this record.
        type: integer
        format: int32
      files:
        required: false
        displayName: files
        description: The list of files contained in this batch.
        type: array
        items:
          type: BatchFileModel
  BatchFileModel:
    displayName: BatchFileModel
    description: Represents one file in a batch upload.
    type: object
    properties:
      name:
        required: true
        displayName: name
        description: Logical Name of file (e.g. "Input" or "Error").
        type: string
      content:
        required: true
        displayName: content
        description: Content of the batch file.
        type: string
      contentType:
        required: true
        displayName: contentType
        description: Content mime type (e.g. text/csv).  This is used for HTTP downloading.
        type: string
      fileExtension:
        required: true
        displayName: fileExtension
        description: File extension (e.g. CSV).
        type: string
      id:
        required: false
        displayName: id
        description: The unique ID number assigned to this batch file.
        type: integer
        format: int32
      batchId:
        required: false
        displayName: batchId
        description: The unique ID number of the batch that this file belongs to.
        type: integer
        format: int32
      contentLength:
        required: false
        displayName: contentLength
        description: Size of content, in bytes.
        type: integer
        format: int32
      errorCount:
        required: false
        displayName: errorCount
        description: Number of errors that occurred when processing this file.
        type: integer
        format: int32
  Fetchresult[batchmodel]:
    displayName: FetchResult[BatchModel]
    type: object
    properties:
      '@recordsetCount':
        required: false
        displayName: '@recordsetCount'
        type: integer
        format: int32
      value:
        required: false
        displayName: value
        type: array
        items:
          type: BatchModel
      '@nextLink':
        required: false
        displayName: '@nextLink'
        type: string
  CompanyModel:
    displayName: CompanyModel
    description: A company or business entity.
    type: object
    properties:
      id:
        required: true
        displayName: id
        description: The unique ID number of this company.
        type: integer
        format: int32
      accountId:
        required: true
        displayName: accountId
        description: The unique ID number of the account this company belongs to.
        type: integer
        format: int32
      companyCode:
        required: true
        displayName: companyCode
        description: A unique code that references this company within your account.
        type: string
      name:
        required: true
        displayName: name
        description: The name of this company, as shown to customers.
        type: string
      defaultCountry:
        required: true
        displayName: defaultCountry
        description: The two character ISO-3166 country code of the default country for this company.
        type: string
      parentCompanyId:
        required: false
        displayName: parentCompanyId
        description: If this company is fully owned by another company, this is the unique identity of the parent company.
        type: integer
        format: int32
      sstPid:
        required: false
        displayName: sstPid
        description: If this company files Streamlined Sales Tax, this is the PID of this company as defined by the Streamlined Sales Tax governing board.
        type: string
      isDefault:
        required: false
        displayName: isDefault
        description: This flag is true if this company is the default company for this account.  Only one company may be set as the default.
        type: boolean
      defaultLocationId:
        required: false
        displayName: defaultLocationId
        description: If set, this is the unique ID number of the default location for this company.
        type: integer
        format: int32
      isActive:
        required: false
        displayName: isActive
        description: This flag indicates whether tax activity can occur for this company.  Set this flag to true to permit the company to process transactions.
        type: boolean
      taxpayerIdNumber:
        required: false
        displayName: taxpayerIdNumber
        description: "For United States companies, this field contains your Taxpayer Identification Number.  \r\nThis is a nine digit number that is usually called an EIN for an Employer Identification Number if this company is a corporation, \r\nor SSN for a Social Security Number if this company is a person.\r\nThis value is required if you subscribe to Avalara Managed Returns or the SST Certified Service Provider services, \r\nbut it is optional if you do not subscribe to either of those services."
        type: string
      hasProfile:
        required: false
        displayName: hasProfile
        description: |
          Set this flag to true to give this company its own unique tax profile.

          If this flag is true, this company will have its own Nexus, TaxRule, TaxCode, and Item definitions.

          If this flag is false, this company will inherit all profile values from its parent.
        type: boolean
      isReportingEntity:
        required: false
        displayName: isReportingEntity
        description: |
          Set this flag to true if this company must file its own tax returns.

          For users who have Returns enabled, this flag turns on monthly Worksheet generation for the company.
        type: boolean
      sstEffectiveDate:
        required: false
        displayName: sstEffectiveDate
        description: If this company participates in Streamlined Sales Tax, this is the date when the company joined the SST program.
        type: datetime
      baseCurrencyCode:
        required: false
        displayName: baseCurrencyCode
        description: This is the three character ISO-4217 currency code of the default currency used by this company.
        type: string
      roundingLevelId:
        required: false
        displayName: roundingLevelId
        description: Indicates whether this company prefers to round amounts at the document level or line level.
        type: string
        enum:
        - Line
        - Document
      warningsEnabled:
        required: false
        displayName: warningsEnabled
        description: Set this value to true to receive warnings in API calls via SOAP.
        type: boolean
      isTest:
        required: false
        displayName: isTest
        description: |
          Set this flag to true to indicate that this company is a test company.

          If you have Returns enabled, Test companies will not file tax returns and can be used for validation purposes.
        type: boolean
      taxDependencyLevelId:
        required: false
        displayName: taxDependencyLevelId
        description: Used to apply tax detail dependency at a jurisdiction level.
        type: string
        enum:
        - Document
        - State
        - TaxRegion
        - Address
      inProgress:
        required: false
        displayName: inProgress
        description: |
          Set this value to true to indicate that you are still working to finish configuring this company.

          While this value is true, no tax reporting will occur and the company will not be usable for transactions.
        type: boolean
      businessIdentificationNo:
        required: false
        displayName: businessIdentificationNo
        description: Business Identification No
        type: string
      createdDate:
        required: false
        displayName: createdDate
        description: The date when this record was created.
        type: datetime
      createdUserId:
        required: false
        displayName: createdUserId
        description: The User ID of the user who created this record.
        type: integer
        format: int32
      modifiedDate:
        required: false
        displayName: modifiedDate
        description: The date/time when this record was last modified.
        type: datetime
      modifiedUserId:
        required: false
        displayName: modifiedUserId
        description: The user ID of the user who last modified this record.
        type: integer
        format: int32
      contacts:
        required: false
        displayName: contacts
        description: 'Optional: A list of contacts defined for this company.  To fetch this list, add the query string "?$include=Contacts" to your URL.'
        type: array
        items:
          type: ContactModel
      items:
        required: false
        displayName: items
        description: 'Optional: A list of items defined for this company.  To fetch this list, add the query string "?$include=Items" to your URL.'
        type: array
        items:
          type: ItemModel
      locations:
        required: false
        displayName: locations
        description: 'Optional: A list of locations defined for this company.  To fetch this list, add the query string "?$include=Locations" to your URL.'
        type: array
        items:
          type: LocationModel
      nexus:
        required: false
        displayName: nexus
        description: 'Optional: A list of nexus defined for this company.  To fetch this list, add the query string "?$include=Nexus" to your URL.'
        type: array
        items:
          type: NexusModel
      settings:
        required: false
        displayName: settings
        description: 'Optional: A list of settings defined for this company.  To fetch this list, add the query string "?$include=Settings" to your URL.'
        type: array
        items:
          type: SettingModel
      taxCodes:
        required: false
        displayName: taxCodes
        description: 'Optional: A list of tax codes defined for this company.  To fetch this list, add the query string "?$include=TaxCodes" to your URL.'
        type: array
        items:
          type: TaxCodeModel
      taxRules:
        required: false
        displayName: taxRules
        description: 'Optional: A list of tax rules defined for this company.  To fetch this list, add the query string "?$include=TaxRules" to your URL.'
        type: array
        items:
          type: TaxRuleModel
      upcs:
        required: false
        displayName: upcs
        description: 'Optional: A list of UPCs defined for this company.  To fetch this list, add the query string "?$include=UPCs" to your URL.'
        type: array
        items:
          type: UPCModel
  ContactModel:
    displayName: ContactModel
    description: A contact person for a company.
    type: object
    properties:
      id:
        required: true
        displayName: id
        description: The unique ID number of this contact.
        type: integer
        format: int32
      companyId:
        required: true
        displayName: companyId
        description: The unique ID number of the company to which this contact belongs.
        type: integer
        format: int32
      contactCode:
        required: true
        displayName: contactCode
        description: A unique code for this contact.
        type: string
      firstName:
        required: false
        displayName: firstName
        description: The first or given name of this contact.
        type: string
      middleName:
        required: false
        displayName: middleName
        description: The middle name of this contact.
        type: string
      lastName:
        required: false
        displayName: lastName
        description: The last or family name of this contact.
        type: string
      title:
        required: false
        displayName: title
        description: Professional title of this contact.
        type: string
      line1:
        required: false
        displayName: line1
        description: The first line of the postal mailing address of this contact.
        type: string
      line2:
        required: false
        displayName: line2
        description: The second line of the postal mailing address of this contact.
        type: string
      line3:
        required: false
        displayName: line3
        description: The third line of the postal mailing address of this contact.
        type: string
      city:
        required: false
        displayName: city
        description: The city of the postal mailing address of this contact.
        type: string
      region:
        required: false
        displayName: region
        description: The state, region, or province of the postal mailing address of this contact.
        type: string
      postalCode:
        required: false
        displayName: postalCode
        description: The postal code or zip code of the postal mailing address of this contact.
        type: string
      country:
        required: false
        displayName: country
        description: The ISO 3166 two-character country code of the postal mailing address of this contact.
        type: string
      email:
        required: false
        displayName: email
        description: The email address of this contact.
        type: string
      phone:
        required: false
        displayName: phone
        description: The main phone number for this contact.
        type: string
      mobile:
        required: false
        displayName: mobile
        description: The mobile phone number for this contact.
        type: string
      fax:
        required: false
        displayName: fax
        description: The facsimile phone number for this contact.
        type: string
      createdDate:
        required: false
        displayName: createdDate
        description: The date when this record was created.
        type: datetime
      createdUserId:
        required: false
        displayName: createdUserId
        description: The User ID of the user who created this record.
        type: integer
        format: int32
      modifiedDate:
        required: false
        displayName: modifiedDate
        description: The date/time when this record was last modified.
        type: datetime
      modifiedUserId:
        required: false
        displayName: modifiedUserId
        description: The user ID of the user who last modified this record.
        type: integer
        format: int32
  ItemModel:
    displayName: ItemModel
    description: Represents an item in your company's product catalog.
    type: object
    properties:
      id:
        required: true
        displayName: id
        description: The unique ID number of this item.
        type: integer
        format: int64
      companyId:
        required: true
        displayName: companyId
        description: The unique ID number of the company that owns this item.
        type: integer
        format: int32
      itemCode:
        required: true
        displayName: itemCode
        description: A unique code representing this item.
        type: string
      description:
        required: true
        displayName: description
        description: A friendly description of this item in your product catalog.
        type: string
      taxCodeId:
        required: false
        displayName: taxCodeId
        description: |
          The unique ID number of the tax code that is applied when selling this item.

          When creating or updating an item, you can either specify the Tax Code ID number or the Tax Code string; you do not need to specify both values.
        type: integer
        format: int32
      taxCode:
        required: false
        displayName: taxCode
        description: |
          The unique code string of the Tax Code that is applied when selling this item.

          When creating or updating an item, you can either specify the Tax Code ID number or the Tax Code string; you do not need to specify both values.
        type: string
      createdDate:
        required: false
        displayName: createdDate
        description: The date when this record was created.
        type: datetime
      createdUserId:
        required: false
        displayName: createdUserId
        description: The User ID of the user who created this record.
        type: integer
        format: int32
      modifiedDate:
        required: false
        displayName: modifiedDate
        description: The date/time when this record was last modified.
        type: datetime
      modifiedUserId:
        required: false
        displayName: modifiedUserId
        description: The user ID of the user who last modified this record.
        type: integer
        format: int32
  LocationModel:
    displayName: LocationModel
    description: |
      A location where this company does business.

      Some jurisdictions may require you to list all locations where your company does business.
    type: object
    properties:
      id:
        required: true
        displayName: id
        description: The unique ID number of this location.
        type: integer
        format: int32
      companyId:
        required: true
        displayName: companyId
        description: The unique ID number of the company that operates at this location.
        type: integer
        format: int32
      locationCode:
        required: true
        displayName: locationCode
        description: A code that identifies this location.  Must be unique within your company.
        type: string
      addressTypeId:
        required: true
        displayName: addressTypeId
        description: Indicates whether this location is a physical place of business or a temporary salesperson location.
        type: string
        enum:
        - Location
        - Salesperson
      addressCategoryId:
        required: true
        displayName: addressCategoryId
        description: Indicates the type of place of business represented by this location.
        type: string
        enum:
        - Storefront
        - MainOffice
        - Warehouse
        - Salesperson
        - Other
      line1:
        required: true
        displayName: line1
        description: The first line of the physical address of this location.
        type: string
      postalCode:
        required: true
        displayName: postalCode
        description: The postal code or zip code of the physical address of this location.
        type: string
      description:
        required: false
        displayName: description
        description: A friendly name for this location.
        type: string
      line2:
        required: false
        displayName: line2
        description: The second line of the physical address of this location.
        type: string
      line3:
        required: false
        displayName: line3
        description: The third line of the physical address of this location.
        type: string
      city:
        required: false
        displayName: city
        description: The city of the physical address of this location.
        type: string
      county:
        required: false
        displayName: county
        description: The county name of the physical address of this location.  Not required.
        type: string
      region:
        required: false
        displayName: region
        description: The state, region, or province of the physical address of this location.
        type: string
      country:
        required: false
        displayName: country
        description: The two character ISO-3166 country code of the physical address of this location.
        type: string
      isDefault:
        required: false
        displayName: isDefault
        description: Set this flag to true to indicate that this is the default location for this company.
        type: boolean
      isRegistered:
        required: false
        displayName: isRegistered
        description: Set this flag to true to indicate that this location has been registered with a tax authority.
        type: boolean
      dbaName:
        required: false
        displayName: dbaName
        description: If this location has a different business name from its legal entity name, specify the "Doing Business As" name for this location.
        type: string
      outletName:
        required: false
        displayName: outletName
        description: A friendly name for this location.
        type: string
      effectiveDate:
        required: false
        displayName: effectiveDate
        description: The date when this location was opened for business, or null if not known.
        type: datetime
      endDate:
        required: false
        displayName: endDate
        description: If this place of business has closed, the date when this location closed business.
        type: datetime
      lastTransactionDate:
        required: false
        displayName: lastTransactionDate
        description: The most recent date when a transaction was processed for this location.  Set by AvaTax.
        type: datetime
      registeredDate:
        required: false
        displayName: registeredDate
        description: The date when this location was registered with a tax authority.  Not required.
        type: datetime
      createdDate:
        required: false
        displayName: createdDate
        description: The date when this record was created.
        type: datetime
      createdUserId:
        required: false
        displayName: createdUserId
        description: The User ID of the user who created this record.
        type: integer
        format: int32
      modifiedDate:
        required: false
        displayName: modifiedDate
        description: The date/time when this record was last modified.
        type: datetime
      modifiedUserId:
        required: false
        displayName: modifiedUserId
        description: The user ID of the user who last modified this record.
        type: integer
        format: int32
      settings:
        required: false
        displayName: settings
        description: "Extra information required by certain jurisdictions for filing.\r\nFor a list of settings recognized by Avalara, query the endpoint \"/api/v2/definitions/locationquestions\". \r\nTo determine the list of settings required for this location, query the endpoint \"/api/v2/companies/(id)/locations/(id)/validate\"."
        type: array
        items:
          type: LocationSettingModel
  LocationSettingModel:
    displayName: LocationSettingModel
    description: Represents the answer to one local jurisdiction question for a location.
    type: object
    properties:
      questionId:
        required: false
        displayName: questionId
        description: The unique ID number of the location question answered.
        type: integer
        format: int32
      value:
        required: false
        displayName: value
        description: The answer the user provided.
        type: string
  NexusModel:
    displayName: NexusModel
    description: Represents a declaration of nexus within a particular taxing jurisdiction.
    type: object
    properties:
      id:
        required: true
        displayName: id
        description: The unique ID number of this declaration of nexus.
        type: integer
        format: int32
      companyId:
        required: true
        displayName: companyId
        description: The unique ID number of the company that declared nexus.
        type: integer
        format: int32
      region:
        required: true
        displayName: region
        description: The two or three character ISO region code of the region, state, or province in which this company declared nexus.
        type: string
      jurisCode:
        required: true
        displayName: jurisCode
        description: The code identifying the jurisdiction in which this company declared nexus.
        type: string
      jurisName:
        required: true
        displayName: jurisName
        description: The common name of the jurisdiction in which this company declared nexus.
        type: string
      country:
        required: false
        displayName: country
        description: The two character ISO-3166 country code of the country in which this company declared nexus.
        type: string
      jurisTypeId:
        required: false
        displayName: jurisTypeId
        description: The jurisdiction type of the jurisdiction in which this company declared nexus.
        type: string
        enum:
        - STA
        - CTY
        - CIT
        - STJ
        - CNT
      effectiveDate:
        required: false
        displayName: effectiveDate
        description: The date when this nexus began.  If not known, set to null.
        type: datetime
      endDate:
        required: false
        displayName: endDate
        description: If this nexus will end or has ended on a specific date, set this to the date when this nexus ends.
        type: datetime
      shortName:
        required: false
        displayName: shortName
        description: The short name of the jurisdiction.
        type: string
      signatureCode:
        required: false
        displayName: signatureCode
        description: The signature code of the boundary region as defined by Avalara.
        type: string
      stateAssignedNo:
        required: false
        displayName: stateAssignedNo
        description: The state assigned number of this jurisdiction.
        type: string
      nexusTypeId:
        required: false
        displayName: nexusTypeId
        description: |
          (DEPRECATED) The type of nexus that this company is declaring.

          Please use NexusTaxTypeGroupId instead.
        type: string
        enum:
        - None
        - SalesOrSellersUseTax
        - SalesTax
        - SSTVolunteer
        - SSTNonVolunteer
      sourcing:
        required: false
        displayName: sourcing
        description: Indicates whether this nexus is defined as origin or destination nexus.
        type: string
        enum:
        - Mixed
        - Destination
        - Origin
      hasLocalNexus:
        required: false
        displayName: hasLocalNexus
        description: |
          True if you are also declaring local nexus within this jurisdiction.

          Many U.S. states have options for declaring nexus in local jurisdictions as well as within the state.
        type: boolean
      localNexusTypeId:
        required: false
        displayName: localNexusTypeId
        description: "If you are declaring local nexus within this jurisdiction, this indicates whether you are declaring only \r\na specified list of local jurisdictions, all state-administered local jurisdictions, or all local jurisdictions."
        type: string
        enum:
        - Selected
        - StateAdministered
        - All
      hasPermanentEstablishment:
        required: false
        displayName: hasPermanentEstablishment
        description: Set this value to true if your company has a permanent establishment within this jurisdiction.
        type: boolean
      taxId:
        required: false
        displayName: taxId
        description: Optional - the tax identification number under which you declared nexus.
        type: string
      streamlinedSalesTax:
        required: false
        displayName: streamlinedSalesTax
        description: "For the United States, this flag indicates whether this particular nexus falls within a U.S. State that participates \r\nin the Streamlined Sales Tax program.  For countries other than the US, this flag is null."
        type: boolean
      createdDate:
        required: false
        displayName: createdDate
        description: The date when this record was created.
        type: datetime
      createdUserId:
        required: false
        displayName: createdUserId
        description: The User ID of the user who created this record.
        type: integer
        format: int32
      modifiedDate:
        required: false
        displayName: modifiedDate
        description: The date/time when this record was last modified.
        type: datetime
      modifiedUserId:
        required: false
        displayName: modifiedUserId
        description: The user ID of the user who last modified this record.
        type: integer
        format: int32
      nexusTaxTypeGroup:
        required: false
        displayName: nexusTaxTypeGroup
        description: |
          The type of nexus that this company is declaring.Replaces NexusTypeId.

          Use /api/v2/definitions/nexustaxtypegroup for a list of tax type groups.
        type: string
  SettingModel:
    displayName: SettingModel
    description: |
      This object is used to keep track of custom information about a company.

      A setting can refer to any type of data you need to remember about this company object.

      When creating this object, you may define your own "set", "name", and "value" parameters.

      To define your own values, please choose a "set" name that begins with "X-" to indicate an extension.
    type: object
    properties:
      id:
        required: true
        displayName: id
        description: The unique ID number of this setting.
        type: integer
        format: int32
      companyId:
        required: true
        displayName: companyId
        description: The unique ID number of the company this setting refers to.
        type: integer
        format: int32
      set:
        required: true
        displayName: set
        description: A user-defined "set" containing this name-value pair.
        type: string
      name:
        required: true
        displayName: name
        description: A user-defined "name" for this name-value pair.
        type: string
      value:
        required: false
        displayName: value
        description: The value of this name-value pair.
        type: string
  TaxCodeModel:
    displayName: TaxCodeModel
    description: |
      Represents a tax code that can be applied to items on a transaction.

      A tax code can have specific rules for specific jurisdictions that change the tax calculation behavior.
    type: object
    properties:
      id:
        required: true
        displayName: id
        description: The unique ID number of this tax code.
        type: integer
        format: int32
      companyId:
        required: true
        displayName: companyId
        description: The unique ID number of the company that owns this tax code.
        type: integer
        format: int32
      taxCode:
        required: true
        displayName: taxCode
        description: A code string that identifies this tax code.
        type: string
      taxCodeTypeId:
        required: true
        displayName: taxCodeTypeId
        description: The type of this tax code.
        type: string
      description:
        required: false
        displayName: description
        description: A friendly description of this tax code.
        type: string
      parentTaxCode:
        required: false
        displayName: parentTaxCode
        description: If this tax code is a subset of a different tax code, this identifies the parent code.
        type: string
      isPhysical:
        required: false
        displayName: isPhysical
        description: True if this tax code type refers to a physical object.  Read only field.
        type: boolean
      goodsServiceCode:
        required: false
        displayName: goodsServiceCode
        description: The Avalara Goods and Service Code represented by this tax code.
        type: integer
        format: int64
      entityUseCode:
        required: false
        displayName: entityUseCode
        description: The Avalara Entity Use Code represented by this tax code.
        type: string
      isActive:
        required: false
        displayName: isActive
        description: True if this tax code is active and can be used in transactions.
        type: boolean
      isSSTCertified:
        required: false
        displayName: isSSTCertified
        description: |
          True if this tax code has been certified by the Streamlined Sales Tax governing board.

          By default, you should leave this value empty.
        type: boolean
      createdDate:
        required: false
        displayName: createdDate
        description: The date when this record was created.
        type: datetime
      createdUserId:
        required: false
        displayName: createdUserId
        description: The User ID of the user who created this record.
        type: integer
        format: int32
      modifiedDate:
        required: false
        displayName: modifiedDate
        description: The date/time when this record was last modified.
        type: datetime
      modifiedUserId:
        required: false
        displayName: modifiedUserId
        description: The user ID of the user who last modified this record.
        type: integer
        format: int32
  TaxRuleModel:
    displayName: TaxRuleModel
    description: Represents a tax rule that changes the behavior of Avalara's tax engine for certain products in certain jurisdictions.
    type: object
    properties:
      id:
        required: true
        displayName: id
        description: The unique ID number of this tax rule.
        type: integer
        format: int32
      companyId:
        required: true
        displayName: companyId
        description: The unique ID number of the company that owns this tax rule.
        type: integer
        format: int32
      jurisCode:
        required: true
        displayName: jurisCode
        description: The code of the jurisdiction to which this tax rule applies.
        type: string
      country:
        required: true
        displayName: country
        description: The two character ISO 3166 country code for the locations where this rule applies.
        type: string
      region:
        required: true
        displayName: region
        description: The state, region, or province name for the locations where this rule applies.
        type: string
      taxCodeId:
        required: false
        displayName: taxCodeId
        description: |
          The unique ID number of the tax code for this rule.

          When creating or updating a tax rule, you may specify either the taxCodeId value or the taxCode value.
        type: integer
        format: int32
      taxCode:
        required: false
        displayName: taxCode
        description: |
          The code string of the tax code for this rule.

          When creating or updating a tax rule, you may specify either the taxCodeId value or the taxCode value.
        type: string
      stateFIPS:
        required: false
        displayName: stateFIPS
        description: For U.S. tax rules, this is the state's Federal Information Processing Standard (FIPS) code.
        type: string
      jurisName:
        required: false
        displayName: jurisName
        description: The name of the jurisdiction to which this tax rule applies.
        type: string
      jurisTypeId:
        required: false
        displayName: jurisTypeId
        description: The type of the jurisdiction to which this tax rule applies.
        type: string
        enum:
        - STA
        - CTY
        - CIT
        - STJ
        - CNT
      customerUsageType:
        required: false
        displayName: customerUsageType
        description: The type of customer usage to which this rule applies.
        type: string
      taxTypeId:
        required: false
        displayName: taxTypeId
        description: Indicates which tax types to which this rule applies.
        type: string
        enum:
        - Excise
        - Lodging
        - Bottle
        - All
        - BothSalesAndUseTax
        - ConsumerUseTax
        - ConsumersUseAndSellersUseTax
        - ConsumerUseAndSalesTax
        - Fee
        - VATInputTax
        - VATNonrecoverableInputTax
        - VATOutputTax
        - Rental
        - SalesTax
        - UseTax
      rateTypeId:
        required: false
        displayName: rateTypeId
        description: (DEPRECATED) Enumerated rate type to which this rule applies.  Please use rateTypeCode instead.
        type: string
        enum:
        - ReducedA
        - ReducedB
        - Food
        - General
        - IncreasedStandard
        - LinenRental
        - Medical
        - Parking
        - SuperReduced
        - ReducedR
        - Standard
        - Zero
      rateTypeCode:
        required: false
        displayName: rateTypeCode
        description: Indicates the code of the rate type that applies to this rule.  Use `/api/v2/definitions/ratetypes` for a full list of rate type codes.
        type: string
      taxRuleTypeId:
        required: false
        displayName: taxRuleTypeId
        description: "This type value determines the behavior of the tax rule.\r\nYou can specify that this rule controls the product's taxability or exempt / nontaxable status, the product's rate \r\n(for example, if you have been granted an official ruling for your product's rate that differs from the official rate), \r\nor other types of behavior."
        type: string
        enum:
        - RateRule
        - RateOverrideRule
        - BaseRule
        - ExemptEntityRule
        - ProductTaxabilityRule
        - NexusRule
      isAllJuris:
        required: false
        displayName: isAllJuris
        description: Set this value to true if this tax rule applies in all jurisdictions.
        type: boolean
      value:
        required: false
        displayName: value
        description: The corrected rate for this tax rule.
        type: number
        format: double
      cap:
        required: false
        displayName: cap
        description: The maximum cap for the price of this item according to this rule.
        type: number
        format: double
      threshold:
        required: false
        displayName: threshold
        description: The per-unit threshold that must be met before this rule applies.
        type: number
        format: double
      options:
        required: false
        displayName: options
        description: Custom option flags for this rule.
        type: string
      effectiveDate:
        required: false
        displayName: effectiveDate
        description: The first date at which this rule applies.  If null, this rule will apply to all dates prior to the end date.
        type: datetime
      endDate:
        required: false
        displayName: endDate
        description: The last date for which this rule applies.  If null, this rule will apply to all dates after the effective date.
        type: datetime
      description:
        required: false
        displayName: description
        description: A friendly name for this tax rule.
        type: string
      countyFIPS:
        required: false
        displayName: countyFIPS
        description: For U.S. tax rules, this is the county's Federal Information Processing Standard (FIPS) code.
        type: string
      isSTPro:
        required: false
        displayName: isSTPro
        description: If true, indicates this rule is for Sales Tax Pro.
        type: boolean
      sourcing:
        required: false
        displayName: sourcing
        description: The sourcing types to which this rule applies.
        type: string
        enum:
        - Mixed
        - Destination
        - Origin
      createdDate:
        required: false
        displayName: createdDate
        description: The date when this record was created.
        type: datetime
      createdUserId:
        required: false
        displayName: createdUserId
        description: The User ID of the user who created this record.
        type: integer
        format: int32
      modifiedDate:
        required: false
        displayName: modifiedDate
        description: The date/time when this record was last modified.
        type: datetime
      modifiedUserId:
        required: false
        displayName: modifiedUserId
        description: The user ID of the user who last modified this record.
        type: integer
        format: int32
      taxTypeGroup:
        required: false
        displayName: taxTypeGroup
        description: The group Id of tax types supported by Avalara. Refer to /api/v2/definitions/taxtypegroups for types we support.
        type: string
      taxSubType:
        required: false
        displayName: taxSubType
        description: The Id of sub tax types supported by Avalara. Refer to /api/v2/definitions/taxsubtypes for types we support.
        type: string
      taxTypeMappingId:
        required: false
        displayName: taxTypeMappingId
        description: Id for TaxTypeMapping object
        type: integer
        format: int32
      rateTypeTaxTypeMappingId:
        required: false
        displayName: rateTypeTaxTypeMappingId
        description: Id for RateTypeTaxTypeMapping object
        type: integer
        format: int32
  UPCModel:
    displayName: UPCModel
    description: One Universal Product Code object as defined for your company.
    type: object
    properties:
      id:
        required: true
        displayName: id
        description: The unique ID number for this UPC.
        type: integer
        format: int32
      companyId:
        required: true
        displayName: companyId
        description: The unique ID number of the company to which this UPC belongs.
        type: integer
        format: int32
      upc:
        required: true
        displayName: upc
        description: The 12-14 character Universal Product Code, European Article Number, or Global Trade Identification Number.
        type: string
      description:
        required: true
        displayName: description
        description: Description of the product to which this UPC applies.
        type: string
      legacyTaxCode:
        required: false
        displayName: legacyTaxCode
        description: Legacy Tax Code applied to any product sold with this UPC.
        type: string
      effectiveDate:
        required: false
        displayName: effectiveDate
        description: If this UPC became effective on a certain date, this contains the first date on which the UPC was effective.
        type: datetime
      endDate:
        required: false
        displayName: endDate
        description: If this UPC expired or will expire on a certain date, this contains the last date on which the UPC was effective.
        type: datetime
      usage:
        required: false
        displayName: usage
        description: A usage identifier for this UPC code.
        type: integer
        format: int32
      isSystem:
        required: false
        displayName: isSystem
        description: A flag indicating whether this UPC code is attached to the AvaTax system or to a company.
        type: integer
        format: int32
      createdDate:
        required: false
        displayName: createdDate
        description: The date when this record was created.
        type: datetime
      createdUserId:
        required: false
        displayName: createdUserId
        description: The User ID of the user who created this record.
        type: integer
        format: int32
      modifiedDate:
        required: false
        displayName: modifiedDate
        description: The date/time when this record was last modified.
        type: datetime
      modifiedUserId:
        required: false
        displayName: modifiedUserId
        description: The user ID of the user who last modified this record.
        type: integer
        format: int32
  Fetchresult[companymodel]:
    displayName: FetchResult[CompanyModel]
    type: object
    properties:
      '@recordsetCount':
        required: false
        displayName: '@recordsetCount'
        type: integer
        format: int32
      value:
        required: false
        displayName: value
        type: array
        items:
          type: CompanyModel
      '@nextLink':
        required: false
        displayName: '@nextLink'
        type: string
  TransactionModel:
    displayName: TransactionModel
    description: A single transaction - for example, a sales invoice or purchase order.
    type: object
    properties:
      id:
        required: false
        displayName: id
        description: The unique ID number of this transaction.
        type: integer
        format: int64
      code:
        required: false
        displayName: code
        description: A unique customer-provided code identifying this transaction.
        type: string
      companyId:
        required: false
        displayName: companyId
        description: The unique ID number of the company that recorded this transaction.
        type: integer
        format: int32
      date:
        required: false
        displayName: date
        description: The date on which this transaction occurred.
        type: datetime
      paymentDate:
        required: false
        displayName: paymentDate
        description: The date when payment was made on this transaction.  By default, this should be the same as the date of the transaction.
        type: datetime
      status:
        required: false
        displayName: status
        description: The status of the transaction.
        type: string
        enum:
        - Temporary
        - Saved
        - Posted
        - Committed
        - Cancelled
        - Adjusted
        - Queued
        - PendingApproval
        - Any
      type:
        required: false
        displayName: type
        description: "The type of the transaction.  For Returns customers, a transaction type of \"Invoice\" will be reported to the tax authorities.\r\nA sales transaction represents a sale from the company to a customer.  A purchase transaction represents a purchase made by the company.\r\nA return transaction represents a customer who decided to request a refund after purchasing a product from the company.  An inventory \r\ntransfer transaction represents goods that were moved from one location of the company to another location without changing ownership."
        type: string
        enum:
        - SalesOrder
        - SalesInvoice
        - PurchaseOrder
        - PurchaseInvoice
        - ReturnOrder
        - ReturnInvoice
        - InventoryTransferOrder
        - InventoryTransferInvoice
        - ReverseChargeOrder
        - ReverseChargeInvoice
        - Any
      batchCode:
        required: false
        displayName: batchCode
        description: If this transaction was created as part of a batch, this code indicates which batch.
        type: string
      currencyCode:
        required: false
        displayName: currencyCode
        description: The three-character ISO 4217 currency code that was used for payment for this transaction.
        type: string
      customerUsageType:
        required: false
        displayName: customerUsageType
        description: The customer usage type for this transaction.  Customer usage types often affect exemption or taxability rules.
        type: string
      customerVendorCode:
        required: false
        displayName: customerVendorCode
        description: CustomerVendorCode
        type: string
      exemptNo:
        required: false
        displayName: exemptNo
        description: If this transaction was exempt, this field will contain the word "Exempt".
        type: string
      reconciled:
        required: false
        displayName: reconciled
        description: If this transaction has been reconciled against the company's ledger, this value is set to true.
        type: boolean
      locationCode:
        required: false
        displayName: locationCode
        description: |
          If this transaction was made from a specific reporting location, this is the code string of the location.

          For customers using Returns, this indicates how tax will be reported according to different locations on the tax forms.
        type: string
      purchaseOrderNo:
        required: false
        displayName: purchaseOrderNo
        description: The customer-supplied purchase order number of this transaction.
        type: string
      referenceCode:
        required: false
        displayName: referenceCode
        description: A user-defined reference code for this transaction.
        type: string
      salespersonCode:
        required: false
        displayName: salespersonCode
        description: The salesperson who provided this transaction.  Not required.
        type: string
      taxOverrideType:
        required: false
        displayName: taxOverrideType
        description: If a tax override was applied to this transaction, indicates what type of tax override was applied.
        type: string
        enum:
        - None
        - TaxAmount
        - Exemption
        - TaxDate
        - AccruedTaxAmount
        - DeriveTaxable
      taxOverrideAmount:
        required: false
        displayName: taxOverrideAmount
        description: If a tax override was applied to this transaction, indicates the amount of tax that was requested by the customer.
        type: number
        format: double
      taxOverrideReason:
        required: false
        displayName: taxOverrideReason
        description: If a tax override was applied to this transaction, indicates the reason for the tax override.
        type: string
      totalAmount:
        required: false
        displayName: totalAmount
        description: The total amount of this transaction.
        type: number
        format: double
      totalExempt:
        required: false
        displayName: totalExempt
        description: The amount of this transaction that was exempt.
        type: number
        format: double
      totalTax:
        required: false
        displayName: totalTax
        description: The total tax calculated for all lines in this transaction.
        type: number
        format: double
      totalTaxable:
        required: false
        displayName: totalTaxable
        description: The portion of the total amount of this transaction that was taxable.
        type: number
        format: double
      totalTaxCalculated:
        required: false
        displayName: totalTaxCalculated
        description: If a tax override was applied to this transaction, indicates the amount of tax Avalara calculated for the transaction.
        type: number
        format: double
      adjustmentReason:
        required: false
        displayName: adjustmentReason
        description: If this transaction was adjusted, indicates the unique ID number of the reason why the transaction was adjusted.
        type: string
        enum:
        - NotAdjusted
        - SourcingIssue
        - ReconciledWithGeneralLedger
        - ExemptCertApplied
        - PriceAdjusted
        - ProductReturned
        - ProductExchanged
        - BadDebt
        - Other
        - Offline
      adjustmentDescription:
        required: false
        displayName: adjustmentDescription
        description: If this transaction was adjusted, indicates a description of the reason why the transaction was adjusted.
        type: string
      locked:
        required: false
        displayName: locked
        description: If this transaction has been reported to a tax authority, this transaction is considered locked and may not be adjusted after reporting.
        type: boolean
      region:
        required: false
        displayName: region
        description: The two-or-three character ISO region code of the region for this transaction.
        type: string
      country:
        required: false
        displayName: country
        description: The two-character ISO 3166 code of the country for this transaction.
        type: string
      version:
        required: false
        displayName: version
        description: |
          If this transaction was adjusted, this indicates the version number of this transaction.  Incremented each time the transaction

          is adjusted.
        type: integer
        format: int32
      softwareVersion:
        required: false
        displayName: softwareVersion
        description: The software version used to calculate this transaction.
        type: string
      originAddressId:
        required: false
        displayName: originAddressId
        description: The unique ID number of the origin address for this transaction.
        type: integer
        format: int64
      destinationAddressId:
        required: false
        displayName: destinationAddressId
        description: The unique ID number of the destination address for this transaction.
        type: integer
        format: int64
      exchangeRateEffectiveDate:
        required: false
        displayName: exchangeRateEffectiveDate
        description: If this transaction included foreign currency exchange, this is the date as of which the exchange rate was calculated.
        type: datetime
      exchangeRate:
        required: false
        displayName: exchangeRate
        description: If this transaction included foreign currency exchange, this is the exchange rate that was used.
        type: number
        format: double
      isSellerImporterOfRecord:
        required: false
        displayName: isSellerImporterOfRecord
        description: If true, this seller was considered the importer of record of a product shipped internationally.
        type: boolean
      description:
        required: false
        displayName: description
        description: Description of this transaction.
        type: string
      email:
        required: false
        displayName: email
        description: Email address associated with this transaction.
        type: string
      businessIdentificationNo:
        required: false
        displayName: businessIdentificationNo
        description: VAT business identification number used for this transaction.
        type: string
      modifiedDate:
        required: false
        displayName: modifiedDate
        description: The date/time when this record was last modified.
        type: datetime
      modifiedUserId:
        required: false
        displayName: modifiedUserId
        description: The user ID of the user who last modified this record.
        type: integer
        format: int32
      taxDate:
        required: false
        displayName: taxDate
        description: Tax date for this transaction
        type: datetime
      lines:
        required: false
        displayName: lines
        description: 'Optional: A list of line items in this transaction.  To fetch this list, add the query string "?$include=Lines" or "?$include=Details" to your URL.'
        type: array
        items:
          type: TransactionLineModel
      addresses:
        required: false
        displayName: addresses
        description: 'Optional: A list of line items in this transaction.  To fetch this list, add the query string "?$include=Addresses" to your URL.'
        type: array
        items:
          type: TransactionAddressModel
      locationTypes:
        required: false
        displayName: locationTypes
        description: 'Optional: A list of location types in this transaction.  To fetch this list, add the query string "?$include=Addresses" to your URL.'
        type: array
        items:
          type: TransactionLocationTypeModel
      summary:
        required: false
        displayName: summary
        description: Contains a summary of tax on this transaction.
        type: array
        items:
          type: TransactionSummary
      parameters:
        required: false
        displayName: parameters
        description: Contains a list of extra parameters that were set when the transaction was created.
        type: object
      messages:
        required: false
        displayName: messages
        description: List of informational and warning messages regarding this API call.  These messages are only relevant to the current API call.
        type: array
        items:
          type: AvaTaxMessage
  TransactionLineModel:
    displayName: TransactionLineModel
    description: One line item on this transaction.
    type: object
    properties:
      id:
        required: false
        displayName: id
        description: The unique ID number of this transaction line item.
        type: integer
        format: int64
      transactionId:
        required: false
        displayName: transactionId
        description: The unique ID number of the transaction to which this line item belongs.
        type: integer
        format: int64
      lineNumber:
        required: false
        displayName: lineNumber
        description: The line number or code indicating the line on this invoice or receipt or document.
        type: string
      boundaryOverrideId:
        required: false
        displayName: boundaryOverrideId
        description: The unique ID number of the boundary override applied to this line item.
        type: integer
        format: int32
      customerUsageType:
        required: false
        displayName: customerUsageType
        description: The customer usage type for this line item.  Usage type often affects taxability rules.
        type: string
      description:
        required: false
        displayName: description
        description: A description of the item or service represented by this line.
        type: string
      destinationAddressId:
        required: false
        displayName: destinationAddressId
        description: |
          The unique ID number of the destination address where this line was delivered or sold.

          In the case of a point-of-sale transaction, the destination address and origin address will be the same.

          In the case of a shipped transaction, they will be different.
        type: integer
        format: int64
      originAddressId:
        required: false
        displayName: originAddressId
        description: |
          The unique ID number of the origin address where this line was delivered or sold.

          In the case of a point-of-sale transaction, the origin address and destination address will be the same.

          In the case of a shipped transaction, they will be different.
        type: integer
        format: int64
      discountAmount:
        required: false
        displayName: discountAmount
        description: |
          The amount of discount that was applied to this line item.  This represents the difference between list price and sale price of the item.

          In general, a discount represents money that did not change hands; tax is calculated on only the amount of money that changed hands.
        type: number
        format: double
      discountTypeId:
        required: false
        displayName: discountTypeId
        description: The type of discount, if any, that was applied to this line item.
        type: integer
        format: int32
      exemptAmount:
        required: false
        displayName: exemptAmount
        description: The amount of this line item that was exempt.
        type: number
        format: double
      exemptCertId:
        required: false
        displayName: exemptCertId
        description: The unique ID number of the exemption certificate that applied to this line item.
        type: integer
        format: int32
      exemptNo:
        required: false
        displayName: exemptNo
        description: If this line item was exempt, this string contains the word 'Exempt'.
        type: string
      isItemTaxable:
        required: false
        displayName: isItemTaxable
        description: True if this item is taxable.
        type: boolean
      isSSTP:
        required: false
        displayName: isSSTP
        description: True if this item is a Streamlined Sales Tax line item.
        type: boolean
      itemCode:
        required: false
        displayName: itemCode
        description: The code string of the item represented by this line item.
        type: string
      lineAmount:
        required: false
        displayName: lineAmount
        description: |
          The total amount of the transaction, including both taxable and exempt.  This is the total price for all items.

          To determine the individual item price, divide this by quantity.
        type: number
        format: double
      quantity:
        required: false
        displayName: quantity
        description: The quantity of products sold on this line item.
        type: number
        format: double
      ref1:
        required: false
        displayName: ref1
        description: A user-defined reference identifier for this transaction line item.
        type: string
      ref2:
        required: false
        displayName: ref2
        description: A user-defined reference identifier for this transaction line item.
        type: string
      reportingDate:
        required: false
        displayName: reportingDate
        description: |
          The date when this transaction should be reported.  By default, all transactions are reported on the date when the actual transaction took place.

          In some cases, line items may be reported later due to delayed shipments or other business reasons.
        type: datetime
      revAccount:
        required: false
        displayName: revAccount
        description: The revenue account number for this line item.
        type: string
      sourcing:
        required: false
        displayName: sourcing
        description: Indicates whether this line item was taxed according to the origin or destination.
        type: string
        enum:
        - Mixed
        - Destination
        - Origin
      tax:
        required: false
        displayName: tax
        description: The amount of tax generated for this line item.
        type: number
        format: double
      taxableAmount:
        required: false
        displayName: taxableAmount
        description: The taxable amount of this line item.
        type: number
        format: double
      taxCalculated:
        required: false
        displayName: taxCalculated
        description: The tax calculated for this line by Avalara.  If the transaction was calculated with a tax override, this amount will be different from the "tax" value.
        type: number
        format: double
      taxCode:
        required: false
        displayName: taxCode
        description: The code string for the tax code that was used to calculate this line item.
        type: string
      taxCodeId:
        required: false
        displayName: taxCodeId
        description: The unique ID number for the tax code that was used to calculate this line item.
        type: integer
        format: int32
      taxDate:
        required: false
        displayName: taxDate
        description: |
          The date that was used for calculating tax amounts for this line item.  By default, this date should be the same as the document date.

          In some cases, for example when a consumer returns a product purchased previously, line items may be calculated using a tax date in the past

          so that the consumer can receive a refund for the correct tax amount that was charged when the item was originally purchased.
        type: datetime
      taxEngine:
        required: false
        displayName: taxEngine
        description: The tax engine identifier that was used to calculate this line item.
        type: string
      taxOverrideType:
        required: false
        displayName: taxOverrideType
        description: If a tax override was specified, this indicates the type of tax override.
        type: string
        enum:
        - None
        - TaxAmount
        - Exemption
        - TaxDate
        - AccruedTaxAmount
        - DeriveTaxable
      businessIdentificationNo:
        required: false
        displayName: businessIdentificationNo
        description: VAT business identification number used for this transaction.
        type: string
      taxOverrideAmount:
        required: false
        displayName: taxOverrideAmount
        description: If a tax override was specified, this indicates the amount of tax that was requested.
        type: number
        format: double
      taxOverrideReason:
        required: false
        displayName: taxOverrideReason
        description: If a tax override was specified, represents the reason for the tax override.
        type: string
      taxIncluded:
        required: false
        displayName: taxIncluded
        description: True if tax was included in the purchase price of the item.
        type: boolean
      details:
        required: false
        displayName: details
        description: 'Optional: A list of tax details for this line item.  To fetch this list, add the query string "?$include=Details" to your URL.'
        type: array
        items:
          type: TransactionLineDetailModel
      lineLocationTypes:
        required: false
        displayName: lineLocationTypes
        description: 'Optional: A list of location types for this line item.  To fetch this list, add the query string "?$include=LineLocationTypes" to your URL.'
        type: array
        items:
          type: TransactionLineLocationTypeModel
      parameters:
        required: false
        displayName: parameters
        description: Contains a list of extra parameters that were set when the transaction was created.
        type: object
  TransactionLineDetailModel:
    displayName: TransactionLineDetailModel
    description: An individual tax detail element.  Represents the amount of tax calculated for a particular jurisdiction, for a particular line in an invoice.
    type: object
    properties:
      id:
        required: false
        displayName: id
        description: The unique ID number of this tax detail.
        type: integer
        format: int64
      transactionLineId:
        required: false
        displayName: transactionLineId
        description: The unique ID number of the line within this transaction.
        type: integer
        format: int64
      transactionId:
        required: false
        displayName: transactionId
        description: The unique ID number of this transaction.
        type: integer
        format: int64
      addressId:
        required: false
        displayName: addressId
        description: The unique ID number of the address used for this tax detail.
        type: integer
        format: int64
      country:
        required: false
        displayName: country
        description: The two character ISO 3166 country code of the country where this tax detail is assigned.
        type: string
      region:
        required: false
        displayName: region
        description: The two-or-three character ISO region code for the region where this tax detail is assigned.
        type: string
      countyFIPS:
        required: false
        displayName: countyFIPS
        description: For U.S. transactions, the Federal Information Processing Standard (FIPS) code for the county where this tax detail is assigned.
        type: string
      stateFIPS:
        required: false
        displayName: stateFIPS
        description: For U.S. transactions, the Federal Information Processing Standard (FIPS) code for the state where this tax detail is assigned.
        type: string
      exemptAmount:
        required: false
        displayName: exemptAmount
        description: The amount of this line that was considered exempt in this tax detail.
        type: number
        format: double
      exemptReasonId:
        required: false
        displayName: exemptReasonId
        description: The unique ID number of the exemption reason for this tax detail.
        type: integer
        format: int32
      inState:
        required: false
        displayName: inState
        description: True if this detail element represented an in-state transaction.
        type: boolean
      jurisCode:
        required: false
        displayName: jurisCode
        description: The code of the jurisdiction to which this tax detail applies.
        type: string
      jurisName:
        required: false
        displayName: jurisName
        description: The name of the jurisdiction to which this tax detail applies.
        type: string
      jurisdictionId:
        required: false
        displayName: jurisdictionId
        description: The unique ID number of the jurisdiction to which this tax detail applies.
        type: integer
        format: int32
      signatureCode:
        required: false
        displayName: signatureCode
        description: The Avalara-specified signature code of the jurisdiction to which this tax detail applies.
        type: string
      stateAssignedNo:
        required: false
        displayName: stateAssignedNo
        description: The state assigned number of the jurisdiction to which this tax detail applies.
        type: string
      jurisType:
        required: false
        displayName: jurisType
        description: The type of the jurisdiction to which this tax detail applies.
        type: string
        enum:
        - STA
        - CTY
        - CIT
        - STJ
        - CNT
      nonTaxableAmount:
        required: false
        displayName: nonTaxableAmount
        description: The amount of this line item that was considered nontaxable in this tax detail.
        type: number
        format: double
      nonTaxableRuleId:
        required: false
        displayName: nonTaxableRuleId
        description: The rule according to which portion of this detail was considered nontaxable.
        type: integer
        format: int32
      nonTaxableType:
        required: false
        displayName: nonTaxableType
        description: The type of nontaxability that was applied to this tax detail.
        type: string
        enum:
        - RateRule
        - RateOverrideRule
        - BaseRule
        - ExemptEntityRule
        - ProductTaxabilityRule
        - NexusRule
      rate:
        required: false
        displayName: rate
        description: The rate at which this tax detail was calculated.
        type: number
        format: double
      rateRuleId:
        required: false
        displayName: rateRuleId
        description: The unique ID number of the rule according to which this tax detail was calculated.
        type: integer
        format: int32
      rateSourceId:
        required: false
        displayName: rateSourceId
        description: The unique ID number of the source of the rate according to which this tax detail was calculated.
        type: integer
        format: int32
      serCode:
        required: false
        displayName: serCode
        description: For Streamlined Sales Tax customers, the SST Electronic Return code under which this tax detail should be applied.
        type: string
      sourcing:
        required: false
        displayName: sourcing
        description: Indicates whether this tax detail applies to the origin or destination of the transaction.
        type: string
        enum:
        - Mixed
        - Destination
        - Origin
      tax:
        required: false
        displayName: tax
        description: The amount of tax for this tax detail.
        type: number
        format: double
      taxableAmount:
        required: false
        displayName: taxableAmount
        description: The taxable amount of this tax detail.
        type: number
        format: double
      taxType:
        required: false
        displayName: taxType
        description: The type of tax that was calculated.  Depends on the company's nexus settings as well as the jurisdiction's tax laws.
        type: string
        enum:
        - Lodging
        - Bottle
        - ConsumerUse
        - Excise
        - Fee
        - Input
        - Nonrecoverable
        - Output
        - Rental
        - Sales
        - Use
      taxName:
        required: false
        displayName: taxName
        description: The name of the tax against which this tax amount was calculated.
        type: string
      taxAuthorityTypeId:
        required: false
        displayName: taxAuthorityTypeId
        description: The type of the tax authority to which this tax will be remitted.
        type: integer
        format: int32
      taxRegionId:
        required: false
        displayName: taxRegionId
        description: The unique ID number of the tax region.
        type: integer
        format: int32
      taxCalculated:
        required: false
        displayName: taxCalculated
        description: |
          The amount of tax that was calculated.  This amount may be different if a tax override was used.

          If the customer specified a tax override, this calculated tax value represents the amount of tax that would

          have been charged if Avalara had calculated the tax for the rule.
        type: number
        format: double
      taxOverride:
        required: false
        displayName: taxOverride
        description: The amount of tax override that was specified for this tax line.
        type: number
        format: double
      rateType:
        required: false
        displayName: rateType
        description: (DEPRECATED) The rate type for this tax detail.  Please use rateTypeCode instead.
        type: string
        enum:
        - ReducedA
        - ReducedB
        - Food
        - General
        - IncreasedStandard
        - LinenRental
        - Medical
        - Parking
        - SuperReduced
        - ReducedR
        - Standard
        - Zero
      rateTypeCode:
        required: false
        displayName: rateTypeCode
        description: Indicates the code of the rate type that was used to calculate this tax detail.  Use `/api/v2/definitions/ratetypes` for a full list of rate type codes.
        type: string
      taxableUnits:
        required: false
        displayName: taxableUnits
        description: Number of units in this line item that were calculated to be taxable according to this rate detail.
        type: number
        format: double
      nonTaxableUnits:
        required: false
        displayName: nonTaxableUnits
        description: Number of units in this line item that were calculated to be nontaxable according to this rate detail.
        type: number
        format: double
      exemptUnits:
        required: false
        displayName: exemptUnits
        description: Number of units in this line item that were calculated to be exempt according to this rate detail.
        type: number
        format: double
      unitOfBasis:
        required: false
        displayName: unitOfBasis
        description: When calculating units, what basis of measurement did we use for calculating the units?
        type: string
  TransactionLineLocationTypeModel:
    displayName: TransactionLineLocationTypeModel
    description: Represents information about location types stored in a line
    type: object
    properties:
      documentLineLocationTypeId:
        required: false
        displayName: documentLineLocationTypeId
        description: The unique ID number of this line location address model
        type: integer
        format: int64
      documentLineId:
        required: false
        displayName: documentLineId
        description: The unique ID number of the document line associated with this line location address model
        type: integer
        format: int64
      documentAddressId:
        required: false
        displayName: documentAddressId
        description: The address ID corresponding to this model
        type: integer
        format: int64
      locationTypeCode:
        required: false
        displayName: locationTypeCode
        description: The location type code corresponding to this model
        type: string
  TransactionAddressModel:
    displayName: TransactionAddressModel
    description: An address used within this transaction.
    type: object
    properties:
      id:
        required: false
        displayName: id
        description: The unique ID number of this address.
        type: integer
        format: int64
      transactionId:
        required: false
        displayName: transactionId
        description: The unique ID number of the document to which this address belongs.
        type: integer
        format: int64
      boundaryLevel:
        required: false
        displayName: boundaryLevel
        description: The boundary level at which this address was validated.
        type: string
        enum:
        - Address
        - Zip9
        - Zip5
      line1:
        required: false
        displayName: line1
        description: The first line of the address.
        type: string
      line2:
        required: false
        displayName: line2
        description: The second line of the address.
        type: string
      line3:
        required: false
        displayName: line3
        description: The third line of the address.
        type: string
      city:
        required: false
        displayName: city
        description: The city for the address.
        type: string
      region:
        required: false
        displayName: region
        description: The region, state, or province for the address.
        type: string
      postalCode:
        required: false
        displayName: postalCode
        description: The postal code or zip code for the address.
        type: string
      country:
        required: false
        displayName: country
        description: The country for the address.
        type: string
      taxRegionId:
        required: false
        displayName: taxRegionId
        description: The unique ID number of the tax region for this address.
        type: integer
        format: int32
      latitude:
        required: false
        displayName: latitude
        description: Latitude for this address (CALC - 13394)
        type: string
      longitude:
        required: false
        displayName: longitude
        description: Longitude for this address (CALC - 13394)
        type: string
  TransactionLocationTypeModel:
    displayName: TransactionLocationTypeModel
    description: Information about a location type
    type: object
    properties:
      documentLocationTypeId:
        required: false
        displayName: documentLocationTypeId
        description: Location type ID for this location type in transaction
        type: integer
        format: int64
      documentId:
        required: false
        displayName: documentId
        description: Transaction ID
        type: integer
        format: int64
      documentAddressId:
        required: false
        displayName: documentAddressId
        description: Address ID for the transaction
        type: integer
        format: int64
      locationTypeCode:
        required: false
        displayName: locationTypeCode
        description: Location type code
        type: string
  TransactionSummary:
    displayName: TransactionSummary
    description: Summary information about an overall transaction.
    type: object
    properties:
      country:
        required: false
        displayName: country
        description: Two character ISO-3166 country code.
        type: string
      region:
        required: false
        displayName: region
        description: Two or three character ISO region, state or province code, if applicable.
        type: string
      jurisType:
        required: false
        displayName: jurisType
        description: The type of jurisdiction that collects this tax.
        type: string
        enum:
        - Country
        - Composite
        - State
        - County
        - City
        - Special
      jurisCode:
        required: false
        displayName: jurisCode
        description: Jurisdiction Code for the taxing jurisdiction
        type: string
      jurisName:
        required: false
        displayName: jurisName
        description: The name of the jurisdiction that collects this tax.
        type: string
      taxAuthorityType:
        required: false
        displayName: taxAuthorityType
        description: The unique ID of the Tax Authority Type that collects this tax.
        type: integer
        format: int32
      stateAssignedNo:
        required: false
        displayName: stateAssignedNo
        description: The state assigned number of the jurisdiction that collects this tax.
        type: string
      taxType:
        required: false
        displayName: taxType
        description: The tax type of this tax.
        type: string
        enum:
        - Lodging
        - Bottle
        - ConsumerUse
        - Excise
        - Fee
        - Input
        - Nonrecoverable
        - Output
        - Rental
        - Sales
        - Use
      taxName:
        required: false
        displayName: taxName
        description: The name of the tax.
        type: string
      taxGroup:
        required: false
        displayName: taxGroup
        description: Group code when special grouping is enabled.
        type: string
      rateType:
        required: false
        displayName: rateType
        description: (DEPRECATED) Indicates the tax rate type.  Please use rateTypeCode instead.
        type: string
        enum:
        - ReducedA
        - ReducedB
        - Food
        - General
        - IncreasedStandard
        - LinenRental
        - Medical
        - Parking
        - SuperReduced
        - ReducedR
        - Standard
        - Zero
      rateTypeCode:
        required: false
        displayName: rateTypeCode
        description: Indicates the code of the rate type.  Use `/api/v2/definitions/ratetypes` for a full list of rate type codes.
        type: string
      taxable:
        required: false
        displayName: taxable
        description: Tax Base - The adjusted taxable amount.
        type: number
        format: double
      rate:
        required: false
        displayName: rate
        description: Tax Rate - The rate of taxation, as a fraction of the amount.
        type: number
        format: double
      tax:
        required: false
        displayName: tax
        description: Tax amount - The calculated tax (Base * Rate).
        type: number
        format: double
      taxCalculated:
        required: false
        displayName: taxCalculated
        description: Tax Calculated by Avalara AvaTax.  This may be overriden by a TaxOverride.TaxAmount.
        type: number
        format: double
      nonTaxable:
        required: false
        displayName: nonTaxable
        description: The amount of the transaction that was non-taxable.
        type: number
        format: double
      exemption:
        required: false
        displayName: exemption
        description: The amount of the transaction that was exempt.
        type: number
        format: double
  CreateTransactionModel:
    displayName: CreateTransactionModel
    description: Create a transaction
    type: object
    properties:
      date:
        required: true
        displayName: date
        description: Transaction Date - The date on the invoice, purchase order, etc.
        type: datetime
      customerCode:
        required: true
        displayName: customerCode
        description: Customer Code - The client application customer reference code.
        type: string
      type:
        required: false
        displayName: type
        description: 'Document Type: if not specified, a document with type of SalesOrder will be created by default'
        type: string
        enum:
        - SalesOrder
        - SalesInvoice
        - PurchaseOrder
        - PurchaseInvoice
        - ReturnOrder
        - ReturnInvoice
        - InventoryTransferOrder
        - InventoryTransferInvoice
        - ReverseChargeOrder
        - ReverseChargeInvoice
        - Any
      code:
        required: false
        displayName: code
        description: |
          Transaction Code - the internal reference code used by the client application.  This is used for operations such as

          Get, Adjust, Settle, and Void.  If you leave the transaction code blank, a GUID will be assigned to each transaction.
        type: string
      companyCode:
        required: false
        displayName: companyCode
        description: |
          Company Code - Specify the code of the company creating this transaction here.  If you leave this value null,

          your account's default company will be used instead.
        type: string
      purchaseOrderNo:
        required: false
        displayName: purchaseOrderNo
        description: |
          Purchase Order Number for this document

          This is required for single use exemption certificates to match the order and invoice with the certificate.
        type: string
      addresses:
        required: false
        displayName: addresses
        description: Default addresses for all lines in this document
        type: AddressesModel
      lines:
        required: false
        displayName: lines
        description: Document line items list
        type: array
        items:
          type: LineItemModel
      commit:
        required: false
        displayName: commit
        description: "Causes the document to be committed if true.  This option is only applicable for invoice document \r\ntypes, not orders."
        type: boolean
      currencyCode:
        required: false
        displayName: currencyCode
        description: 3 character ISO 4217 currency code.
        type: string
      description:
        required: false
        displayName: description
        description: Description
        type: string
  AddressesModel:
    displayName: AddressesModel
    description: A series of addresses information in a GetTax call
    type: object
    properties:
      singleLocation:
        required: false
        displayName: singleLocation
        description: If this transaction occurred at a retail point-of-sale location, use this
        type: AddressLocationInfo
  AddressLocationInfo:
    displayName: AddressLocationInfo
    description: Represents an address to resolve.
    type: object
    properties:
      locationCode:
        required: false
        displayName: locationCode
        description: |
          If you wish to use the address of an existing location for this company, specify the address here.

          Otherwise, leave this value empty.
        type: string
      line1:
        required: false
        displayName: line1
        description: Line1
        type: string
      line2:
        required: false
        displayName: line2
        description: Line2
        type: string
      line3:
        required: false
        displayName: line3
        description: Line3
        type: string
      city:
        required: false
        displayName: city
        description: City
        type: string
      region:
        required: false
        displayName: region
        description: State / Province / Region
        type: string
      country:
        required: false
        displayName: country
        description: Two character ISO 3166 Country Code
        type: string
      postalCode:
        required: false
        displayName: postalCode
        description: Postal Code / Zip Code
        type: string
[...]
